* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "SVN-Gilroy";
}

.flex-grow {
  flex-grow: 1;
}

.px-120px {
  padding-left: 120px;
  padding-right: 120px;
}

.py-41px {
  padding-top: 41px;
  padding-bottom: 41px;
}

.pt-40px {
  padding-top: 40px;
}

.mt-14px {
  margin-top: 14px;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.flex-center {
  flex-direction: center;
}

.inline-flex {
  display: inline-flex;
}

.justify-between {
  justify-content: space-between;
}

.mx-20px {
  margin-right: 20px;
  margin-left: 20px;
}

.inline {
  display: inline;
}

.mt-24px {
  margin-top: 24px;
}

.flex-col {
  flex-direction: column;
}

.mr-44px {
  margin-right: 44px;
}

.pl-48px {
  padding-left: 48px;
}

.no-border {
  border: none;
}

.align-start {
  align-items: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-start {
  justify-content: flex-start;
}

.mb-48px {
  margin-bottom: 48px;
}

.cover {
  background-image: url(Images/header-cover.png);
  background-size: 100% 100%;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

a {
  text-decoration: none;
}

.transparent {
  opacity: 0.5;
}

ul {
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.px-12px {
  padding-left: 12px;
  padding-right: 12px;
}

/* MAIN CONTENT */
.mt-80px {
  margin-top: 80px;
}

.contact {
  background-image: url(Images/LienHe.png);
  background-size: 100% 100%;
}

.px-240px {
  padding-left: 240px;
  padding-right: 240px;
}

.wrapper {
  max-height: 400px;
  border: 1px solid lightgray;
  overflow-x: auto;
  overflow-y: hidden;
}

.wrapper::-webkit-scrollbar {
  width: 0;
}

.wrapper .news {
  height: 390px;
  min-width: 1000px;
}
